@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  box-sizing: border-box;

}
body,html{
  overflow-x: hidden;
}
.logo{
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body{
  @apply text-[16px] leading-[1.6em] font-normal tracking-wider;
}

.marquee-inner {
  display: inline-flex;
  width: calc(200% + 0.5px); 
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.brand{
  font-family: "Leckerli One", serif;
  font-weight: 600;
  font-style: normal;
}
.name{
  font-family: "Knewave", serif;
  font-weight: 400;
  font-style: normal;
}
.carousel-scroll-container {
  border-radius: 0 ;
}
.logos{
  font-family: "Spinnaker", serif;
}


